.special{
    color: black;
    font-weight: bold;
}
.education{
    font-size:x-large;
    font-family:'Times New Roman', Times, serif;
    color: rgba(82, 161, 213, 0.908);
}
h1{
    height: 70px;
    width: 900px;
    text-align: right;
    font-weight: 100;
    text-decoration: solid;
    font-family: 'Lato', Tahoma, Geneva, Verdana, sans-serif;
}
.details{
    text-align: center;
    word-spacing: 1cm;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(82, 161, 213, 0.689);
}
.edu{
    text-align: center;
}
ul li{
    list-style-type: square;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #057fb4;
}

.button1:hover {
  background-color: rgba(82, 161, 213, 0.689);
  color: white;
}



